
venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class

# Banco de dados vetorial local (ChromaDB)
chroma_db/
*.sqlite3

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store